<template>
  <div class="demo">
    <LineSwitch :checked.sync="checkedValue" />
  </div>
</template>
<script lang="ts">
export default {
  data() {
    return {
      checkedValue: true,
    };
  },
};
</script>
