<template>
  <div class="app">
    <CustomSwitch :checked.sync="value1" />
    <ElSwitch v-model="value2" />
  </div>
</template>
<script lang="ts">
export default {
  data() {
    return {
      value1: true,
      value2: true,
    };
  },
};
</script>
